extends ../layout

block title
    title= title
block status
    include ../loginStatus
block content
    ul
        li
            img(src=photo.getUri())
        li= photo.desc
        li= photo.addedBy.profile.name
        li
            a.btn(href=photo._id+'/edit') edit








block script